.container {
    margin: auto;
    align-items: center;
    background-color: gray;
    width: 70%;
}

.modal {
    margin: auto;
    align-items: center;
    width: 70%;
    border: solid 1px rgb(125, 173, 13);
    display: none;
}

.modal-content {
    margin: 8em auto;
    align-items: center;
    width: 70%;
    border: solid 1px rgb(19, 146, 119);
}

.modal-header {
    align-items: center;
    border: solid 1px rgb(32, 26, 83);
}

.content, #open, #close {
    align-items: center;
    border: solid 1px red;
}